<form class="py-3">
  <h2>Купить билет</h2>
  <div class="form-group">
    <label for="InputName">Ваше имя</label>
    <input type="text" class="form-control" id="InputName" name="name">
  </div>
  <div class="form-group">
    <label for="InputPhone">Ваш телефон</label>
    <input type="email" class="form-control" id="InputPhone" name="phone">
  </div>
  <button type="submit" class="btn yellow">Отправть</button>
</form>
