<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="wrapper-bg mb-4">
  <section id="header">
    <%- include modules/modal-loader.ejs %>
    <%- include modules/header.ejs %>
  </section>
  <section id="menu">
    <%- include modules/menu.ejs %>
  </section>
  <div class="space"></div>
</div>
<section id="content">
  <div class="py-5">
    <div class="container">
      <div class="breadcrumbs">
        <a href="/">Главная</a>  »  <a href="/">Новости</a>  »  Музыка со вкусом
      </div>
      <h1>
        Музыка со вкусом
      </h1>
      <div class="object-gallery inner-slider">
        <div class="slick-gallery__full" data-slick-full="true">
          <% for (var i = 0; i < 3; i++) { %>
            <figure>
              <a href="./assets/example/news-detail/main.jpg" data-fancybox><img src="./assets/example/news-detail/main.jpg" alt="1"></a>
            </figure>
            <figure>
              <a href="./assets/example/news-detail/add1.jpg" data-fancybox><img src="./assets/example/news-detail/add1.jpg" alt="1"></a>
            </figure>
            <figure>
              <a href="./assets/example/news-detail/add2.jpg" data-fancybox><img src="./assets/example/news-detail/add2.jpg" alt="1"></a>
            </figure>
            <figure>
              <a href="./assets/example/news-detail/add3.jpg" data-fancybox><img src="./assets/example/news-detail/add3.jpg" alt="1"></a>
            </figure>
          <% } %>
        </div>
      </div>

      <p>Как известно, классика всегда в моде. Похоже, руководствуясь именно этим тезисом отечественные умельцы из “Звезды”, в очередной раз решив порадовать нас новым релизом, подготовили элегантное переосмысление нестареющей модельной классики.</p>
      <p>Господа, встречайте ту самую советскую рабочую лошадку ЗСУ-23-4 , легендарную “Шилку”, которую за ее многолетнюю историю боевой эксплуатации по достоинству оценили не только советские солдаты, но и вооруженные силы союзных государств по всему земному шару.</p>
      <p>Смогли оценить и ее в свое время и моделисты, успевшие поработать с раритетным ныне набором от Dragon. А теперь такая возможность появилась и у современного поколения модельных мастеров.</p>
      <p>А чтобы первое знакомство с этим реликтовым набором прошло еще интереснее, мы как всегда любовно подготовили отличные, и главное, совершенно бесплатные бонусы, которые будут входить в комплект с каждым набором.</p>
      <p>На этот раз мы решили, что для того, чтобы изваять настоящий пластиковый мини-шедевр, Вам будет совершенно необходим роскошный комплект из четырех высококачественных детализированных копийных точеных металлических стволов фирмы "Zedval", благодаря которым даже самый искушенный военный эксперт издалека не отличит Вашу модель от настоящей грозной боевой машины. А для перестраховки, чтобы спецоперация по сборке прошла успешно несмотря ни на какие сопутствующие обстоятельства, мы также добавили в дополнение к набору надежного помощника любого бывалого моделиста – универсальную шпатлевку от японской фирмы Tamiya. Успейте сделать заказ на это уникальное предложение на нашем сайте, и своими руками прикоснуться к истории.</p>
      <hr>
      <a href="#">Ко всем новостям »</a>
    </div>
  </div>
</section>
<hr>
<section id="footer">
  <%- include modules/footer.ejs %>
</section>
</body>
</html>
