<div class="col col-lg-4 col-md-8 col-11 mt-3 mb-4">
  <div class="prod-item">
    <div class="prod-item__mark">НОВИНКА</div>
    <a href="#" class="img-holder">
      <img src="./assets/example/pic1.jpg" alt="Вишнёвый сад">
    </a>
    <div class="prod-item__name">
      <a href="#">Вишнёвый сад</a>
    </div>
    <div class="prod-item__text">
      <p class="txt_16px mb-1">А. Чехов, режиссер В. Смирнов 14+</p>
      <p class="txt_14px txt-c-gray">Вишнёвый сад в имении Раневских был будто членом семьи для помещицы Любови Андреевны...</p>
    </div>
    <div class="d-flex align-items-center">
      <a href="#" class="btn red ajax-modal link mr-3" data-target="#modal" data-remote="/buy.html">
        Купить билет
      </a>
      <div>
        <p class="txt_16px font-weight-bold txt-c-red mb-0">1 октября</p>
        <p class="txt_12px mb-0">четверг 19 : 00</p>
      </div>
    </div>
  </div>
</div>


<div class="col col-lg-4 col-md-8 col-11 mt-3 mb-4">
  <div class="prod-item">
      <a href="#" class="img-holder">
        <img src="./assets/example/pic2.jpg" alt="Вишнёвый сад">
      </a>
      <div class="prod-item__name">
        <a href="#">«Брачные игры»</a>
      </div>
      <div class="prod-item__text">
        <p class="txt_16px mb-1">Э. Олби, режиссер М. Журавлева 16+</p>
        <p class="txt_14px txt-c-gray">Часто ли вы задумываетесь о том, что наша жизнь со всеми ее подводными течениями на самом деле похожа на партию в шахматы...</p>
      </div>
      <div class="d-flex align-items-center">
        <a href="#" class="btn red ajax-modal link mr-3" data-target="#modal" data-remote="/buy.html">
          Купить билет
        </a>
        <div>
          <p class="txt_16px font-weight-bold txt-c-red mb-0">27 сетнября</p>
          <p class="txt_12px mb-0">четверг 19 : 00</p>
        </div>
      </div>
  </div>
</div>


<div class="col col-lg-4 col-md-8 col-11 mt-3 mb-4">
    <div class="prod-item">
    <a href="#" class="img-holder">
      <img src="./assets/example/pic3.jpg" alt="Вишнёвый сад">
    </a>
    <div class="prod-item__name">
      <a href="#">Время женщин</a>
    </div>
    <div class="prod-item__text">
      <p class="txt_16px mb-1">А. Чехов, режиссер В. Смирнов 14+</p>
      <p class="txt_14px txt-c-gray">Вишнёвый сад в имении Раневских был будто членом семьи для помещицы Любови Андреевны...</p>
    </div>
    <div class="d-flex align-items-center">
      <a href="#" class="btn red ajax-modal link mr-3" data-target="#modal" data-remote="/buy.html">
        Купить билет
      </a>
      <div>
        <p class="txt_16px font-weight-bold txt-c-red mb-0">1 октября</p>
        <p class="txt_12px mb-0">четверг 19 : 00</p>
      </div>
    </div>
  </div>
</div>
