<div class="col col-lg-4 col-md-8 col-11 mt-3 mb-4">
    <div class="news-item">
        <a href="#" class="img-holder">
            <img src="./assets/example/news1.jpg" alt="ТВР24: «Театральный ковчег» открывает сезон премьерой «Время женщин»">
        </a>
        <div class="news-item__name">
            <a href="#">ТВР24: «Театральный ковчег» открывает сезон премьерой «Время женщин»</a>
        </div>
        <div class="news-item__text">
            <p class="txt_16px mb-1">10 января 2020</p>
            <p class="txt_14px txt-c-gray">Сергиевопосадский телеканал ТВР24 показал сюжет о первом спектакле сезона.</p>
        </div>
    </div>
</div>


<div class="col col-lg-4 col-md-8 col-11 mt-3 mb-4">
    <div class="news-item">
        <a href="#" class="img-holder">
            <img src="./assets/example/news2.jpg" alt="Куклы и люди фестиваля - в сюжете "Тонуса"">
        </a>
        <div class="news-item__name">
            <a href="#">Куклы и люди фестиваля - в сюжете "Тонуса"</a>
        </div>
        <div class="news-item__text">
            <p class="txt_16px mb-1">10 января 2020</p>
            <p class="txt_14px txt-c-gray">Сергиевопосадский телеканал ТВР24 показал сюжет о первом спектакле сезона.</p>
        </div>
    </div>
</div>


<div class="col col-lg-4 col-md-8 col-11 mt-3 mb-4">
    <div class="news-item">
        <a href="#" class="img-holder">
            <img src="./assets/example/news3.jpg" alt="Фестиваль глазами ТВ">
        </a>
        <div class="news-item__name">
            <a href="#">Фестиваль глазами ТВ</a>
        </div>
        <div class="news-item__text">
            <p class="txt_16px mb-1">10 января 2020</p>
            <p class="txt_14px txt-c-gray">Сергиевопосадский телеканал ТВР24 показал сюжет о первом спектакле сезона.</p>
        </div>
    </div>
</div>
