<div class="container py-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="row align-items-center mb-4">
        <div class="col-lg-auto mb-2">
          <i class="icon icon_phone-footer"></i>
          <a class="txt-c-black" href="tel:+79031001550">+7 (903) 100-15-50</a>
          <a class="txt-c-black" href="tel:+74955058656">+7 (495) 505-86-56</a>
        </div>
        <div class="col-lg-auto mb-2">
          <i class="icon icon_email"></i>
          <a class="txt-c-black" href="mailto:info@teatr-orfey.ru">info@teatr-orfey.ru</a>
        </div>
        <div class="col-lg-auto mb-2">
          <a href="#" class="txt_16px red font-weight-bold">Подписаться на рассылку</a>
        </div>
      </div>
      <a href="#" class="txt_14px d-inline-block mb-3">
        <i class="icon icon_map"></i>
        Россия, Московская область, г. Балашиха, Московский проезд, дом 9
      </a>
    </div>
    <div class="col-lg-4 text-lg-right">
      <p class="font-weight-bold txt_18px text-uppercase mb-lg-4">Счетчик посещений</p>
      <p class="txt-c-red">
        Сегодня <span class="font-weight-bold mr-3">1 747</span> <span class="font-weight-bold">Сегодня 2 912 387</span>
      </p>
    </div>
  </div>
  <div class="row row-scroll my-4">
    <div class="col-auto">
      <a href="/"><img src="assets/vectors/logo-black.svg" alt=""></a>
    </div>
    <div class="col-auto ml-lg-auto">
      <div class="d-flex align-items-center">
        <a href="#"><img src="assets/img/ocenka.jpg" alt=""></a>
        <a href="#"><img src="assets/img/qr.jpg" alt=""></a>
        <a href="https://welcome.mosreg.ru/" target="_blank"><img src="assets/img/mosreg.jpg" alt=""></a>
      </div>
    </div>
  </div>
  <div class="row mt-4 align-items-center">
    <div class="col-lg-auto mb-3">
      <div class="d-flex row-scroll align-items-center">
        <a class="txt-c-black mr-3" href="#">Обучение детей</a>
        <a class="txt-c-black mr-3" href="#">Афиша</a>
        <a class="txt-c-black mr-3" href="#">Купить билет</a>
        <a class="txt-c-black" href="#">Контакты</a>
      </div>
    </div>
    <div class="col-lg-auto mb-3 ml-lg-auto">
      <div class="d-flex align-items-center">
        <a class="text-decoration-none" href="#"><i class="icon icon_in-black"></i></a>
        <a class="text-decoration-none" href="#"><i class="icon ml-3 icon_vk-black"></i></a>
        <a class="text-decoration-none" href="#"><i class="icon ml-3 icon_fb-black"></i></a>
      </div>
    </div>
  </div>
</div>
