<div class="header py-5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto col-lg-4 order-1 order-lg-0 d-flex justify-content-lg-end">
        <div>
          <a href="#" class="ajax-modal link" data-target="#modal" data-remote="/buy.html">
            <i class="icon icon_ticket"></i>
            Купить билет
          </a>
          <div class="phone">
            <i class="icon icon_phone"></i>
            <div>
              <div><a href="tel:+79031001550">+7 (903) 100-15-50</a></div>
              <div><a href="tel:+74955058656">+7 (495) 505-86-56</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  order-0 order-lg-1 text-center">
        <a href="/"><img class="header__logo" src="assets/vectors/logo.svg" alt=""></a>
      </div>
      <div class="col-auto col-lg-4 order-2">
        <a href="#" class="ajax-modal link call" data-target="#modal" data-remote="/callback.html">
          <i class="icon icon_call"></i>
          Заказать звонок
        </a>
        <div class="social">
          <a href="#"><i class="icon icon_in"></i></a>
          <a href="#"><i class="icon icon_vk"></i></a>
          <a href="#"><i class="icon icon_fb"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
