
<div class="bg-gradient py-3 main-menu menu-fixed">
    <div class="container">
        <div class="d-lg-none">
            <a href="#" data-toggle-main-menu class="icon icon_close"></a>
            <p class="h2 mt-5">Меню</p>
        </div>
        <div class="row m-0 justify-content-between align-items-center">
            <div class="col-lg-auto"><a class="menu-item active" href="#">О театре</a></div>
            <div class="col-lg-auto"><a class="menu-item" href="#">Афиша</a></div>
            <div class="col-lg-auto">
                <a class="menu-item" href="#">Театральные Ассамблеи</a>
                <div class="dropdown">
                    <div class="bg-gradient">
                        <ul>
                            <li><a href="#">История создания</a></li>
                            <li><a href="#">Письма от друзей, коллег</a></li>
                            <li><a href="#">Расписание занятий</a></li>
                            <li><a href="#">Независимая оценка качества оказания услуг организациями культуры</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-auto"><a class="menu-item" href="#">Обучение детей</a></div>
            <div class="col-lg-auto"><a class="menu-item" href="#">Касса</a></div>
            <div class="col-lg-auto"><a class="menu-item" href="#">Контакты</a></div>
            <div class="col-lg-auto"><a class="menu-item" href="#">Обратная связь</a></div>
            <div class="col-lg-auto"><a class="btn red ajax-modal link" href="#" data-target="#modal" data-remote="/buy.html">Купить билет</a></div>
        </div>
    </div>
</div>

<div class="bg-gradient py-3 mobile-menu d-lg-none menu-fixed">
    <div class="container">
        <div class="row">
            <div class="col-auto d-flex align-items-center">
                <a href="#" data-toggle-main-menu class="icon icon_burger"></a>
            </div>
            <div class="col-auto ml-auto d-flex align-items-center">
                <div class="phone">
                    <i class="icon icon_phone"></i>
                    <div>
                        <div><a href="tel:+79031001550">+7 (903) 100-15-50</a></div>
                        <div><a href="tel:+74955058656">+7 (495) 505-86-56</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
