<div class="container">
  <div class="object-gallery main-slider">
    <div class="slick-gallery__full" data-slick-full="true">
      <% for (var i = 0; i < 10; i++) { %>
        <figure>
          <div class="text">
            <a class="d-block txt_24px" href="#">
              Контрабас - 14, 15 и 16 октября <br>
              <span class="txt_18px">Меланхолическое произведение для одного инструмента...</span>
            </a>
          </div>
          <a href="#"><img src="./assets/example/slider.jpg" alt="1"></a>
        </figure>
      <% } %>
    </div>

    <div class="slick-gallery__thumbnails" data-slick-thumb="true">
      <% for (var i = 0; i < 10; i++) { %>
        <img src="./assets/example/slider.jpg" alt="1">
      <% } %>
    </div>
  </div>
</div>
