.btn {
  border-radius: 6px;
  padding: 0.4rem;
  color: $c-black;
  background: #fff;
  border: 2px solid $c-black;
  overflow: hidden;
  box-shadow: none!important;
  text-decoration: none!important;
  max-width: 100%;
  white-space: normal;
  font-size: $txt_12px;
  text-transform: uppercase;
  line-height: normal;
  outline: none;
  min-height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %anim;
  &:hover {
    background: $c-red;
    border-color: $c-red;
    color: #fff;
  }
  &.white{
    background: transparent;
    border-color: #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: $c-red!important;
    }
  }
  &.whitebg{
    background: #fff;
    border-color: #fff;
    color: $c-black!important;
    &:hover {
      background: $c-red;
      color: #fff!important;
      border-color: $c-red;
    }
  }
  &.red{
    background: $c-red;
    border-color: $c-red;
    color: #fff;
    &:hover {
      background: lighten($c-red, 15%);
      border-color: lighten($c-red, 15%);
    }
  }
  &.yellow{
    background: $c-yellow;
    border-color: $c-yellow;
    color: $c-black;
    &:hover {
      background: darken($c-yellow, 25%);
      border-color: darken($c-yellow, 25%);
    }
  }
}

button{
  outline: none!important;
}

.nav {
  li {
    margin-right: 1rem;
    a {
      padding: 0.25rem 0.7rem;
      color: $c-black;
      background: $c-gray;
      border: 1px solid $c-gray;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: none!important;
      text-decoration: none!important;
      max-width: 100%;
      white-space: normal;
      font-size: $txt_14px;
      outline: none;
      min-height: 2rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %anim;
      &.active, &:hover{
        background: $c-red!important;
        border-color: $c-red;
        color: #fff;
      }
    }
  }
}
