.prod-item{
  position: relative;
  .img-holder{
    img{
      border-radius: 6px;
      height: 14rem;
      width: 100%;
      margin: 1rem 0;
      object-fit: cover;
    }
  }
  &__mark{
    color: $c-black;
    text-transform: uppercase;
    top: 4px;
    padding: 0.4rem 1rem 0.3rem;
    left: 0;
    font-weight: bold;
    border-radius: 1rem;
    background: $c-gradient;
    font-size: $txt_14px;
    position: absolute;
  }
  &__name{
    height: 2.8rem;
    overflow: hidden;
    position: relative;
    a {
      font-weight: bold;
      font-size: $txt_18px;
      color: $c-black;
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 2.5rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24.88%, rgb(255, 255, 255) 100%);
    }
  }
  &__text{
    height: 7.3rem;
    margin: 0.5rem 0;
    overflow: hidden;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 2.5rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24.88%, rgb(255, 255, 255) 100%);
    }
  }
}


