.txt-c-black {color: $c-black!important;}
.txt-c-red {color: $c-red!important;}
.txt-c-yellow {color: $c-yellow!important;}
.txt-c-gray {color: $c-gray!important;}
.txt-c-gray-500 {color: $gray-500!important;}

.txt_12px {font-size: $txt_12px;}
.txt_14px {font-size: $txt_14px;}
.txt_16px {font-size: $txt_16px;}
.txt_18px {font-size: $txt_18px;}
.txt_22px {font-size: $txt_22px;}
.txt_24px {font-size: $txt_24px;}
.txt_30px {font-size: $txt_30px;}
.txt_32px {font-size: $txt_32px;}
.txt_36px {font-size: $txt_36px;}
.txt_48px {font-size: $txt_48px;}
.txt_58px {font-size: $txt_58px;}

@media(max-width:991px) {
  .txt_30px {font-size: $txt_24px;}
  .txt_32px {font-size: $txt_24px;}
  .txt_36px {font-size: $txt_24px;}
  .txt_48px {font-size: $txt_24px;}
  .txt_58px {font-size: $txt_48px;}
}
