@font-face {
  font-family: 'IBM Plex Serif';
  src: local('IBM Plex Serif'), local('IBMPlexSerif-Regular'),
  url('#{$path-fonts}/IBMPlexSerif.woff') format('woff'),
  url('#{$path-fonts}/IBMPlexSerif.eot') format('eot'),
  url('#{$path-fonts}/IBMPlexSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'),
  url('#{$path-fonts}/IBMPlexSerif-Italic.woff') format('woff'),
  url('#{$path-fonts}/IBMPlexSerif-Italic.eot') format('eot'),
  url('#{$path-fonts}/IBMPlexSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: local('PT Astra Sans SemiBold'), local('IBMPlexSerif-SemiBold'),
  url('#{$path-fonts}/IBMPlexSerif-SemiBold.woff') format('woff'),
  url('#{$path-fonts}/IBMPlexSerif-SemiBold.eot') format('eot'),
  url('#{$path-fonts}/IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('#{$path-fonts}/icomoon.eot');
  src:  url('#{$path-fonts}/icomoon.eot#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/icomoon.ttf') format('truetype'),
  url('#{$path-fonts}/icomoon.woff') format('woff'),
  url('#{$path-fonts}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


