$font-family-sans-serif: "PT Astra Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$path-assets: "../assets";
$path-fonts: "#{$path-assets}/fonts";


$c-black: #222;
$c-red: #82062B;
$c-yellow: #FDC32E;
$c-gray: rgba(0, 0, 0, 0.45);
$c-gradient: linear-gradient(180deg, #FDCF2E 24.88%, rgba(239, 148, 11, 0.51) 100%), #FDC32E;;

$txt_11px: 0.6875rem;;
$txt_12px: 0.75rem;
$txt_14px: 0.875rem;
$txt_16px: 1rem;
$txt_18px: 1.125rem;
$txt_22px: 1.375rem;
$txt_24px: 1.5rem;
$txt_30px: 1.875rem;
$txt_32px: 2rem;
$txt_36px: 2.25rem;
$txt_48px: 3rem;
$txt_58px: 3.625rem;
